.hero-secondary {
    margin-bottom: 5rem;
    padding: 2rem 1rem;
    height: 110vh;
}

.hero-secondary .about-container{
    display: flex;
    flex-direction: column;
}

.hero-secondary .about-content {
    padding-top: 0.5rem;
}

.hero-secondary .hero-img {
    max-width: 200px;
    height: 38vh;
    margin: auto;
    padding: 0rem 1rem;
}

.iconsDiv{
    display: flex;
    flex-direction: column;
}